*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 50px;
    color: black;
}
.btn{
    display: inline-block;
    background-color: rgb(178, 178, 178);
    height: 105px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 40px;
    line-height: 105px;
    margin-left: 30px;
    width: 17%;
    transition: 1s;

}
.btn1{
    display: inline-block;
    background-color: rgb(144, 255, 174);
    height: 105px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 40px;
    line-height: 105px;
    margin-left: 30px;
    width: 20%;
    text-align: center;
    transition: 1s;

}
.buttons{
    width: 90%;
    margin: auto;
    text-align: center;
}
.btn:hover, .btn1:hover{
    background: rgb(254, 192, 255);
}

.btn.active{
    background-color: rgb(51, 51, 51);
    color: aliceblue;
}