*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    color: black;
}
.btn{
    display: inline-block;
    background-color: rgb(178, 178, 178);
    height: 105px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 40px;
    line-height: 105px;
    margin-left: 30px;
    width: 17%;
    transition: 1s;

}
.btn1{
    display: inline-block;
    background-color: rgb(144, 255, 174);
    height: 105px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 40px;
    line-height: 105px;
    margin-left: 30px;
    width: 20%;
    text-align: center;
    transition: 1s;

}
.buttons{
    width: 90%;
    margin: auto;
    text-align: center;
}
.btn:hover, .btn1:hover{
    background: #FFC2D4;
}

.btn.active{
    background-color: rgb(51, 51, 51);
    color: aliceblue;
}
.goupbtn{
    display: block;
    color: white; 
    text-decoration: none;
    background-color: #FFC2D4 ;
    width: 240px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    transition: 1s;
}
.goupbtn:hover{
    transform: scale(1.2);
    color: rgb(53, 53, 53);
}