.hed1{
    height: 600px;
    background-image: url("../img/драники.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed2{
    height: 600px;
    background-image: url("../img/kartt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed3{
    height: 600px;
    background-image: url("../img/karmash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed4{
    height: 600px;
    background-image: url("../img/pech.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed5{
    height: 600px;
    background-image: url("../img/rise.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed6{
    height: 600px;
    background-image: url("../img/cheese.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed7{
    height: 600px;
    background-image: url("../img/prmorg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed8{
    height: 600px;
    background-image: url("../img/pechsg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed9{
    height: 600px;
    background-image: url("../img/soup.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed10{
    height: 600px;
    background-image: url("../img/zapekanka.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed11{
    height: 600px;
    background-image: url("../img/kyrinsouse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed12{
    height: 600px;
    background-image: url("../img/photo_5330115837123301326_x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed13{
    height: 600px;
    background-image: url("../img/okrosh.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed14{
    height: 600px;
    background-image: url("../img/zharkoe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed15{
    height: 600px;
    background-image: url("../img/kotleta.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed16{
    height: 600px;
    background-image: url("../img/alfredo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed17{
    height: 600px;
    background-image: url("../img/kotlgrib.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed18{
    height: 600px;
    background-image: url("../img/tomato.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed19{
    height: 600px;
    background-image: url("../img/risekyr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
.hed20{
    height: 600px;
    background-image: url("../img/soupkrem.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
}
h1{
    text-align: center;
    font-size: 50px;
    color: black;
}

hr{
    width: 100%;
    height: 7px;
    background-color: black;
    margin-bottom: 20px;
}
p{
    font-size: 35px;
}

.goupbtn{
    display: block;
    color: white; 
    text-decoration: none;
    background-color: #FFC2D4 ;
    width: 240px;
    padding: 10px;
    text-align: center;
    position: fixed;
    font-size: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 20px;
    transition: 1s;
    opacity: 0.7;
}
.goupbtn:hover{
    transform: scale(1.2);
    color: rgb(53, 53, 53);
}
