/* *{
    padding: 0;
    margin: 0;
} */
.heder{
    height: 300px;
    background-image: url("img/фон.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed; 
    
}
.beybii{
    height: 900px;
    background-image: url("img/3c5a6ad25e9cfacbadff8afc8595e7d5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    /* background-attachment: fixed;  */
}
.btn{
    background-color: #FFC2D4;
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    width: 450px;
    height: 64px;
    font-size: 55px;
    border-radius: 15px;
    text-align: center;
    padding: 50px;
    transform: translateY(150px);
    margin-left: 100px ;
    transition: 1s;
}
.btn2{
    background-color: #FFC2D4;
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    width: 450px;
    height: 64px;
    font-size: 55px;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    transform: translateY(180px);
    margin-left: 100px ;
    transition: 1s;
    
}
.btn:hover{
    transform: scale(1.2) translateY(100px);
    /* меняет размер кнопки при наведении на нее */
    box-shadow: 0 0 10px rgb(93, 92, 94);
    /* свечение */
    animation-name: pulsar;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
.btn2:hover{
    transform: scale(1.2) translateY(150px);
    /* меняет размер кнопки при наведении на нее */
    box-shadow: 0 0 10px rgb(93, 92, 94);
    /* свечение */
    animation-name: pulsar;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
@keyframes pulsar{
    0%{
        /* opacity: 1; прозрвчность*/
        box-shadow: 0 0 10px rgb(93, 92, 94);
    }
    50%{
        box-shadow: 0 0 50px rgb(93, 92, 94);
    }
    100%{
        /* opacity: 0; */
        box-shadow: 0 0 10px rgb(93, 92, 94);
    }
}
h1{
    color: rgb(0, 0, 0);
    margin-left: 500px;
    text-align: center;
    font-size: 100px;
    background: #FFC2D4;
    display: inline-block;
    padding: 30px ;
    border-radius: 20px;
    
}
.pip{
    font-size: 35px;
    display: block;
    margin-top: 300px ;
    padding-left: 90px;
}
.circle{
    background: #8181819d;
    height: 890px;
    width: 890px;
    border-radius: 50%;
    position: relative;
    
    /* z-index: -1; */
    
}
